/* Css Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  font-size: 16px;
}

.toast-container {
  max-width: 250px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.toast-container[data-position^="top-"] { top: 0;} /* ^ = starts with top- */
.toast-container[data-position^="bottom-"] { bottom: 0; }
.toast-container[data-position$="-left"] { left: 0; } /* $ = ends with -left */

.toast-container[data-position$="-center"] {
  left: 50%;
  transform: translateX(-50%);
}

.toast-container[data-position$="-right"] { right: 0; }

.toast {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: .5em;
  position: relative;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.toast-container[data-position$="-left"] .toast {transform: translateX(-110%); } 
.toast-container[data-position$="-right"] .toast { transform: translateX(110%); } 

.toast-container .toast.show {
  transform: translateX(0);
}

.toast.can-close::after {
  content: '\00D7';
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
